
.cell-wrapper[data-v-96ec91dc]{
    width: 100%;
    height: auto;
}
.cell-wrapper img[data-v-96ec91dc],.cell-center img[data-v-96ec91dc]{
    width: inherit;
}
.f[data-v-96ec91dc]{
    display: flex;
}
.f-center[data-v-96ec91dc]{
    justify-content: center;
    align-items: center;
}
.f-column[data-v-96ec91dc]{
    flex-direction: column;
}
.price[data-v-96ec91dc]{
    background:white;
    text-align:center;
    font-size:0.8em;
}
.bgblack[data-v-96ec91dc]{
    background:black;
}
.bgred[data-v-96ec91dc]{
    background:red;
}
.text-center[data-v-96ec91dc]{
    text-align: center;
}
.red[data-v-96ec91dc]{
    background:red;
    color:white;
}
.yellow[data-v-96ec91dc]{
    background:rgb(255, 234, 46);
    color:black;
}
.green[data-v-96ec91dc]{
    background:green;
    color:white;
}
.dark_purple[data-v-96ec91dc]{
    background:purple;
    color:white;
}
.brown[data-v-96ec91dc]{
    background:brown;
    color:white;
}
.dark_blue[data-v-96ec91dc]{
    background:darkcyan;
    color:white;
}
.light_blue[data-v-96ec91dc]{
    background:cyan;
    color:black;
}
.orange[data-v-96ec91dc]{
    background:rgb(255, 90, 31);
    color:white;
}
.green[data-v-96ec91dc]{
    background:green;
    color:white;
}
.height[data-v-96ec91dc]{
    font-size: 1.3em;
}


body[data-v-5567ea9e]{
    background: black;
}
.grid[data-v-5567ea9e]{
    display: grid;
    grid-template-columns: 8.4vw repeat(14,5.2vw) 8.4vw;
    grid-template-rows: auto;
    grid-gap: 0.5vw;
    width:98vw;
    background: black;
}
.cell-center[data-v-5567ea9e]{
    grid-row: 2/6;
    grid-column: 2/7;
    height: auto;
    width:100%;
}
.empty-center[data-v-5567ea9e]{
    grid-row: 2/6;
    grid-column: 7/16;
}
.col-1[data-v-5567ea9e]{
    grid-column: 1/2;
}
.row-2[data-v-5567ea9e]{
    grid-row: 2/3;
}
.row-3[data-v-5567ea9e]{
    grid-row: 3/4;
}
.row-4[data-v-5567ea9e]{
    grid-row: 4/5;
}
.row-5[data-v-5567ea9e]{
    grid-row: 5/6;
}
.col-16[data-v-5567ea9e]{
    grid-column: 16/17;
}
.empty-center[data-v-5567ea9e]{
    width: 100%;
    height: 100%;
}
.cell-center img[data-v-5567ea9e]{
    width:inherit;
}
/*FIGURINE STYLES*/
.absolute[data-v-5567ea9e]{
    position: absolute;
}
.relative[data-v-5567ea9e]{
    position: relative;
}
.f[data-v-5567ea9e]{
    display:flex;
}
.f-center[data-v-5567ea9e]{
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.f-center-horizontal[data-v-5567ea9e]{
    align-items: center;
}
.figurine[data-v-5567ea9e]{
    height: 40px;
    width:40px;
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    z-index: 1;
}

